---

---
<div class="container">
    <div class="calendar">
      <div class="front">
        <div class="current-date">
			<a href="#" class="nav"><i class="icofont-thin-left  icofont-2x"></i></a>
          <h1>Friday 25th</h1>
          <h1>August 2023</h1>	
		  <a href="#" class="nav"><i class="icofont-thin-right  icofont-2x"></i></a>
        </div>

        <div class="current-month">
          <ul class="week-days">
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
            <li>Sun</li>
          </ul>

          <div class="weeks">
            <div class="first">
              <span class="last-month">31</span>
              <span>01</span>
              <span>02</span>
              <span>03</span>
			  <span>04</span>
              <span>05</span>
              <span>06</span>
            </div>

            <div class="second">
              <span>07</span>
              <span>08</span>
              <span>09</span>
              <span>10</span>
              <span>11</span>
              <span>12</span>
              <span>13</span>
            </div>

            <div class="third">
              <span>14</span>
              <span>15</span>
              <span>16</span>
              <span>17</span>
              <span>18</span>
              <span>19</span>
              <span>20</span>
            </div>

            <div class="fourth">
              <span>21</span>
              <span>22</span>
              <span>23</span>
              <span>24</span>
              <span class="active">25</span>
              <span class="event">26</span>
              <span>27</span>
            </div>

            <div class="fifth">
              <span>28</span>
              <span>29</span>
              <span>30</span>
              <span>31</span>
              <span class="next-month">01</span>
              <span class="next-month">02</span>
              <span class="next-month">03</span>
            </div>
          </div>
        </div>
      </div>

      <div class="back">
        <input placeholder="What's the event?">
        <div class="info">
          <div class="date">
            <p class="info-date">
            Date: <span>Aug 26th, 2023</span>
            </p>
            <p class="info-time">
              Time: <span>7:30 AM</span>
            </p>
          </div>
          <div class="address">
            <p>
              Location: <span>Paphos Green Goddess</span>
            </p>
          </div>
          <div class="observations">
            <p>
              Experience: <span>Grape Picking</span>
            </p>
          </div>
        </div>

        <div class="actions">
          <button class="save">
            Register <i class="ion-checkmark"></i>
          </button>
          <button class="dismiss">
            Dismiss <i class="ion-android-close"></i>
          </button>
        </div>
      </div>

    </div>
  </div>

  <style>

li {
	list-style: none;
}

.container {
	display: flex;
	margin: 5em auto;
	max-width: 1200px;
	width: 100%;
}

.calendar {
	background: var(--main-color);
	border-radius: var(--border-radius);
	max-height: 600px;
  	perspective: 1000;
	transition: .9s;
	transform-style: preserve-3d;
	width: 100%;
}

/* Front - Calendar */
.front {
	transform: rotateY(0deg);
}

.nav {
	color: #fff;
}

.current-date {
	border-bottom: #fff 1px solid;
	display: flex;
	justify-content: space-between;
	padding: 30px 40px;
}

.current-date h1 {
	color: #fff;
	font-size: var(--fs-700);
}

.week-days {
	color: #fff;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	padding: 30px 40px;
}

.days {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.weeks {
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
}

.weeks div {
	display: flex;
	font-size: 1.2em;
	font-weight: 300;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
}

.last-month,
.next-month {
	opacity: .3;
}

.weeks span {
	padding: 10px;
}

.weeks span.active {
	background: var(--second-color);
	border-radius: var(--border-radius-img);
}

.weeks span:not(.last-month):hover {
	cursor: pointer;
	font-weight: 600;
}

.event {
	position: relative;
}

.event:after {
	content: '•';
	color:var(--second-color);
	font-size: 1.4em;
	position: absolute;
	right: -4px;
	top: -4px;
}

/* Back - Event form */

.back {
	height: 100%;
	transform: rotateY(180deg);
}

.back input {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	color: #fff;
	font-size: 1.4em;
	font-weight: 300;
	padding: 30px 40px;
	width: 100%;
}

.info {
	color: #fff;
	display: flex;
	flex-direction: column;
	font-weight: 600;
	font-size: 1.2em;
	padding: 30px 40px;
}

.info div:not(.observations) {
	margin-bottom: 40px;
}

.info span {
	font-weight: 300;
}

.info .date {
	display: flex;
	justify-content: space-between;
}

.info .date p {
	width: 50%;
}

.info .address p {
	width: 100%;
}

.actions {
	bottom: 0;
	border-top: 1px solid rgba(73, 114, 133, .6);
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}

.actions button {
	background: none;
	border: 0;
	color: #fff;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0;
	padding: 30px 0;
	text-transform: uppercase;
	width: 50%;
}

.actions button:first-of-type {
	border-right: 1px solid rgba(73, 114, 133, .6);
}

.actions button:hover {
	background: #497285;
	cursor: pointer;
}

.actions button:active {
	background: #5889a0;
	outline: none;
}

/* Flip animation */

.flip {
  transform: rotateY(180deg);
}

.front, .back {
	backface-visibility: hidden;
}


  </style>
