---
const { month, date, weekDay, time, eventName, event, button, backgroundColorClass } = Astro.props;
import Button from "../components/Button.astro";
---



<div class={`
event__container
${backgroundColorClass}
`}>
    <div class="event__calendar">
        <p class="event__month">
          { month }
        </p>
        <div class="event__date-container">
                <div>
                    <div class="event__circle">
                        <h2 class="event__date">
                                { date }
                        </h2>
                    </div>
                    </div>
            <div>
                <p class="event__weekday">
                        { weekDay }  
                </p>
                <p class="event__time">
                        { time }
                </p>
            </div>
        </div>
    </div>
        <h3 class="event__name">
            { eventName }
        </h3>
        <h6 class="event">{ event }</h6>
        <div class="event__button-container">
        { button &&
            (<a class="event__button" href={ button.href }>{ button.text }</a> 
            ) 
        }
        </div>
 <Button />
  </div>
  
  <style>
    .event__container {
        border-radius: 25px;
        text-align: center;
        color: #fff;
        padding: 0.6em;
    }

    .event__calendar {
        border-radius: 25px 25px 25px 0;
        border: 2px solid #fff;
        background-color: #fff;
        opacity: 0.9;
        color: var(--text-color);
    }

    .event__month {
        text-align: left;
        font-weight: bold;
        padding: 1.2em 1.2em 0;
    }

    .event__date-container {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 0.4em 1em 1.2em 0.6em;
        text-align: left;
        gap: 0.6em;
    }

    .event__circle {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        border: 2px solid var(--text-color);;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event__date {
        padding-top: 0.125em;
    }

    .event__name {
        font-weight: bold; 
        padding: 1em 0.6em 0;
    }

    .event {
        margin-bottom: 2.2em;
    }

    .event__button {
        background-color: var(--main-color);
        padding: 16px 18px;
        color: #fff;
        border-radius: var(--border-radius);
        text-decoration: none;
        font-size: var(--fs-300);
        font-weight: 400;
        transition: 0.7s;
    }

    .event__button:hover {
        box-shadow: inset 0 -4.25em 0 0 var(--hover-color);
    }

    .workshop-color {
        background-color: var(--second-color);
    }

    .tour-color {
        background-color: var(--third-color);
    }

    .experience-color {
        background-color: var(--fourth-color);
    }


  </style>