---
const { linkedIn, facebook, instagram } = Astro.props;
---

<footer class="footer">
<div class="footer__container">
    <img class="footer__logo" src="/images/logo-white.svg" alt="Logo of Paphos Green Goddess">
        <div class="footer__link-container">
            <a class="footer__link" href="/impressum"><p>Impressum</p></a>
            <a class="footer__link" href="/data-policy"><p>Data policy</p></a>
            <a class="footer__link" href="/contact"><p>Contact</p></a>
        </div>
        <div class="footer__share">
            <a href={linkedIn} target="_blank"><i class="icofont-linkedin  icofont-2x  share-btn"></i></a>
            <a href={facebook} target="_blank"><i class="icofont-facebook  icofont-2x   share-btn"></i></a>
            <a href={instagram} target="_blank"><i class="icofont-instagram   icofont-2x   share-btn"></i></a>
        </div>
<div>

</div>
</div>
</footer>

<style>
    .footer__link {
        color: #fff;
        display: flex;
        border-bottom: 2px solid var(--second-color);
        border-radius: 2px;
        padding-bottom: 2px; 
    }

    .footer__link:hover {
        border-bottom: 2px solid #fff;
        border-radius: 2px;
        padding-bottom: 2px;  
    }

    .footer__link-container {
        display: flex;
        gap: 2em;
        justify-content: center;
    }

    .footer__container {
        background-color: var(--second-color);
        margin-top: 60px;
        padding: 2em;
        display: grid;
        gap: 2em;
    }

    .footer__logo {
        width: 50%;
        display: flex;
        justify-self: center;
    }

    .footer__share {
        display: flex;
        justify-content: center;
    }

    .share-btn {
        color: #fff;
        padding: 12px;
    }

    .share-btn:hover {
        color: var(--hover-color);
    }

    @media only screen and (min-width: 40em) {
        .footer__logo {
        width: 30%;
        }
    }

    @media only screen and (min-width: 60em) {
        .footer__logo {
        width: 20%;
        }
    }
</style>