---
const { linkedIn, facebook, instagram } = Astro.props;
---

<footer class="footer">
<div class="footer__container">
    <!-- 
    <form class="footer__form-container">
        <h2 class="footer__form-heading">Get Paphos Green Goddess Newsletter</h2>
        <label class="form__label" for="name">Your name</label>
        <input class="form__input" type="text" id="name" name="name" required>
        <label class="form__label" for="email">Your email</label>
        <input class="form__input" type="email" id="email" name="email" required>
        <div class="form__checkbox">
            <input class="checkbox" type="checkbox" id="privacy-data">
        <label for="privacy-data" class="form__label">I want to receive your newsletter and accept the <a href="privacy-policy" class="link">privacy policy</a></label>
        </div>
        <input class="form__button" type="submit" id="submit" value="Submit">
    </form>
    -->
    <img class="footer__logo" src="/images/logo-white.svg" alt="Logo of Paphos Green Goddess">
    <h3 class="footer__slogan">Be part of the solution</h3>
        <div class="footer__link-container">
            <a class="footer__link" href="/calendar">Calendar</a>
            <a class="footer__link" href="/impressum">Impressum</a>
            <a class="footer__link" href="/privacy-policy">Privacy policy</a>
        </div>
        <div class="footer__share">
            <a href={linkedIn} target="_blank"><i class="icofont-linkedin  icofont-2x  share-btn"></i></a>
            <a href={facebook} target="_blank"><i class="icofont-facebook  icofont-2x   share-btn"></i></a>
        </div>
        <div class="footer__creator-container">
            <p class="footer__creator">Copyright © 2023 Paphos Green Goddess</p>
            <p class="footer__creator">Design and Website made by <a class="footer__creator-link" href="https://www.seomotions.com/">Seomotions</a></p>
        </div>
<div>

</div>
</div>
</footer>

<style>

    /* FORM */ 
    .footer__form-heading {
        color: #fff;
    }

      .footer__form-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2em;
        background-color: var(--second-color);
        border-radius: 1em;
        margin: 2em auto;
    }

    .form__input {
        padding: 1em;
        border-radius: 1em;
        border: none;
        font-family: var(--ff-text);
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 300;
    }

    input:focus,
    textarea:focus {
        outline: none;
        background-color: #e5fff2;
    }

    .form__label {
        color: #fff;
        font-family: var(--ff-heading);
        font-size: 1.2rem;
        margin-top: 8px;
        margin-bottom: -4px;
    }

    .form__checkbox {
        display: flex;
        gap: 1em;
        align-items: center;
    
    }

    .form__button {
        background-color: var(--main-color);
        padding: 16px 18px;
        color: #fff;
        border-radius: var(--border-radius);
        text-decoration: none;
        font-size: var(--fs-300);
        font-weight: 400;
        transition: 0.7s;
        border: none;
        width: 50%;
        margin: 1.2em auto;
        cursor: pointer;
    }

    .form__button:hover {
        box-shadow: inset 0 -4.25em 0 0 var(--hover-color);
    }

    /* LINK */
    .footer__creator-link {
        color: #fff;
        border-bottom: 2px solid var(--second-color);
        border-radius: 2px;
        padding-bottom: 2px; 
    }

    .footer__link {
        color: #fff;
        display: flex;
        align-self: center;
        text-align: center;
        border-bottom: 2px solid var(--second-color);
        border-radius: 2px;
        padding-bottom: 2px; 
        font-size: var(--fs-xs);
        font-family: var(--ff-text);
    }

    .footer__link:hover,
    .footer__creator-link:hover {
        border-bottom: 2px solid #fff;
        border-radius: 2px;
        padding-bottom: 2px;  
    }

    .footer__link-container {
        display: flex;
        gap: 2em;
        justify-content: center;
    }

    .footer__container {
        background-color: var(--second-color);
        padding: 2em;
        display: grid;
        gap: 2em;
    }

    .footer__logo {
        width: 50%;
        display: flex;
        justify-self: center;
    }

    .footer__slogan {
        color: #fff;
        text-align: center;
        margin-top: -24px;
    }

    .footer__share {
        display: flex;
        justify-content: center;
    }

    .share-btn {
        color: #fff;
        padding: 12px;
    }

    .share-btn:hover {
        color: var(--hover-color);
    }

    .footer__creator-container {
        text-align: center;
        margin: 0 auto;
        color: #fff;
    }

    .footer__creator {
        font-size: var(--fs-xxs);
    }


    @media only screen and (min-width: 40em) {
        .footer__logo {
        width: 30%;
        }
    }

    @media only screen and (min-width: 60em) {
        .footer__logo {
        width: 14%;
        }
    }
</style>