---
const { text } = Astro.props;
---
<div class="quote__container">
<img class="quote__img" src="/images/quote.svg" width="50"/>
<p class="quote">{ text }</p>
<p class="quote__cap">Rachael Pettus</p>
</div>

<style>
    .quote__container {
        margin: 0 auto;
        max-width: 730px;
    }

    .quote__img {
     display: flex;
     justify-self: center;
     margin: 0 auto;
    }

    .quote {
        text-align: center;
        font-size: var(--fs-400);
        margin-top: 20px;
    }

    .quote__cap {
        text-align: center;
        margin-top: 12px;
        text-transform: uppercase;
        font-size: var(--fs-xs);
    }
</style>