---
//define props
const { heading = "", backgroundColorClass = "", headingMarginClass = "" } = Astro.props;
---

<section class={`
${backgroundColorClass}
`}>
    <h2 class={`
    section__heading
    ${headingMarginClass}
    `}>{ heading }</h2>
    <slot />
</section>

<style>
    section {
        padding: 30px 2em 60px 2em;
        margin: 0 auto;
        max-width: 1200px;
    }

    .section__heading {
        margin-bottom: 48px;
        text-align: left;
    }

    .section__heading-margin--large {
        margin-top: 90px;
    }

    .bg-white {
        background-color: #fff;
    }

    @media only screen and (min-width: 40em) {
        section {
        padding: 90px 2em 90px 2em;
    }
    }

</style>