---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Paragraph from "../components/Paragraph.astro";
import Spacer from "../components/Spacer.astro";
import Image from "../components/Image.astro";
import HeadingTwo from "../components/HeadingTwo.astro";
import HeadingThree from "../components/HeadingThree.astro";
import Footer from "../components/Footer.astro";

import '../styles/styles.css';
---

<MainLayout
title="About Paphos Green Goddess"
description="Paphos Green Goddess is a permaculture family home in Cyprus. We share the lessons we have learned and the insights we have gained with you."
opengraph={{
	title:'About Paphos Green Goddess',
	url:'https://www.paphosgreengoddes.com/about/',
	image:'https://www.paphosgreengoddes.com/images/house-with-land.webp',
	type:'website',
	description:'Get to know us',
	locale:'en'
}}
>

<HeroShot
heading="You are dreaming of a natural and sustainable life?"
text="Because you want to live healthy, reduce waste and create a productive ecosystem. Then, you are right here."
img={{
    src:'/images/house-with-land.webp',
    alt:'A house with farm land in front'
}}
waveImg={{
	src:'/images/wave.svg',
	alt:'A wave as overlay for the background image'
}}
/>

<Spacer />

<div class="bg-white  padding-colored-bg">
<div class="wrapper">
<Paragraph 
text="This is not just another permaculture website that will talk about ethics and lead you along prescribed pathways pointing out principles in practice. This is the website of a family home that is feeling its way toward a more sustainable, resilient, and restorative lifestyle. We share the lessons we have learned and the insights we have gained with you, our fellow travellers."
/>

<Paragraph 
text="Not everyone’s ambitions align, and off-grid yurt life is not for all. But there are smaller, less extreme ways to redress the imbalance threatening our environment and our future. In this small, quiet corner of Paphos we are exploring some of them in our workshops and tours. Why not join us for the adventure?"
/>


<HeadingTwo 
heading="The land"
/>
<Paragraph 
text="I have turned my land just outside the small village of Nikokleia, not far from the Cyprus town of Paphos, into a permaculture farm in 2016."
/>
<Paragraph 
text="A small family enterprise with a focus on agriculture and sustainability, Paphos Green Goddess is a child of the Naughties. Located just outside the Paphos District village of Nikokleia, the certified organic site includes mature mango, olive, and avocado trees as well as over 1,000 vines for wine production."
/>

<Paragraph 
text="As well as the family home, the estate includes passive and active rainwater harvesting, different composting systems, vermiculture, and poultry. Examples of companion planting and medicinal herb and flower cultivation can be seen alongside an array of kitchen garden staples. Biodiversity is encouraged with a bee hotel, water stations for insects, and natural habitat for snakes and lizards."
/>

<Paragraph 
text="The land is devided in different zones: the kitchen, the garden and the field."
/>

<HeadingThree 
heading="The garden"
/>

<Paragraph 
text="In the garden — Zone Two, the second ring — of our design, much of the magic happens. Here I focus on growing seasonal vegetables in as sustainable manner as possible using no-till methods and harvesting rainwater to keep irrigation to a minimum. There are three garden/orchard spaces, planted with a variety of local and other trees which give cover to birds and wildlife as well as providing shade for the flowers, herbs, and plants that grow beneath them."
/>

<Image 
img={{
    src:'/images/garden.webp',
    alt:'Paphos Green Goddess is holding two chicken in her arms'
}}
/>

<HeadingThree 
heading="The field"
/>

<Paragraph 
text="The field, Zone Three, is our commercial production area. Certified organic since 2006, we have a range of perennial trees and vines that we harvest throughout the year. The New Year sees the start of the avocado harvest, and spring heralds a burst of activities as the different varieties of wine grapes begin to sprout their leaves. The grapes are picked and the wine made during July and August — sometimes even into September, thus overlapping with the mango season, which runs from mid-August into October. The year closes with the olives: first the table olives ripen at the end of October, and the last weekend in November sees the picking of the olives for oil. They are cold-pressed in a local mill, and the extra virgin oil is stored in stainless steel tanks for use throughout the year."
/>

<Image 
img={{
    src:'/images/the-field.webp',
    alt:'The permaculture field of Paphos Green Goddess'
}}
/>

<HeadingTwo 
heading="The founder Rachael Pettus"
/>

<Paragraph 
text="I was born in the UK in 1964 and, after extensive living and travelling abroad, settled in Cyprus with my Greek-speaking Cypriot husband in 1994. Together we raised four children on our certified organic land."
/>

<Image 
img={{
    src:'/images/rachael-with-chicken.webp',
    alt:'Paphos Green Goddess is holding two chicken in her arms'
}}
/>

<Paragraph 
text="At some point in the past two decades, I discovered permaculture and knew that I wanted to apply the permaculture ethics, and some of the many principles of the practice, to our household and land. A rainwater harvesting course from the University of Oregon kickstarted the process, which accelerated during the Covid lockdowns."
/>

<Paragraph 
text="Learning — and teaching — resilience gives me hope in this fast-changing world. Through connecting to the land and the plants and animals that depend on it as we do, I find strength and can help others do the same."
/>
</div>
</div>
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/about/"
	instagram="https://twitter.com/share?url=https://paphosgreengoddess.com/about/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/about/"
/>
</MainLayout>