---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Paragraph from "../components/Paragraph.astro";
import Spacer from "../components/Spacer.astro";
import FullScreenImage from "../components/FullScreenImage.astro";
import HeadingTwo from "../components/HeadingTwo.astro";
import HeadingThree from "../components/HeadingThree.astro";
import Footer from "../components/Footer.astro";

import '../styles/styles.css';
import Newsletter from "../components/Newsletter.astro";
---

<MainLayout
title="About Paphos Green Goddess"
description="Paphos Green Goddess is a permaculture family home in Cyprus. We share the lessons we have learned and the insights we have gained with you."
opengraph={{
	title:'About Paphos Green Goddess',
	url:'https://www.paphosgreengoddes.com/about/',
	image:'https://www.paphosgreengoddes.com/images/house-with-land.webp',
	type:'website',
	description:'Get to know us',
	locale:'en'
}}
>

<HeroShot
heading="Are you looking for a more sustainable lifestyle?"
text="If you want to reduce waste and create a productive ecosystem, you are in the right place."
img={{
    src:'/images/house-with-land.webp',
    alt:'A house with farm land in front'
}}
waveImg={{
	src:'/images/wave.svg',
	alt:'A wave as overlay for the background image'
}}
/>

<Spacer />

<div class="bg-white  padding-colored-bg">
<div class="wrapper">
<Paragraph 
text="This is not just another permaculture website that will talk about ethics and lead you along prescribed pathways pointing out principles in practice. This is the website of a family home that is feeling its way toward a more sustainable, resilient, and restorative lifestyle. We share the lessons we have learned and the insights we have gained with you, our fellow travellers."
/>

<Paragraph 
text="Not everyone’s ambitions align, and off-grid yurt life is not for all. But there are smaller, less extreme ways to redress the imbalance threatening our environment and our future. In this small, quiet corner of Paphos we are exploring some of them in our workshops and tours. Why not join us for the adventure?"
/>


<HeadingTwo 
heading="The land..."
/>
<Paragraph 
text="Our family land just outside the small village of Nikokleia, not far from southwest Cyprus town of Paphos, has been certified organic since 2006."
/>
<Paragraph 
text="A small enterprise with a focus on agriculture and sustainability, Paphos Green Goddess is a child of the Naughties. With a nucleus of mature mango, olive, and avocado trees as well as over 1,000 vines for wine production, the estate also includes passive and active rainwater harvesting, different composting systems, vermiculture, and poultry. Examples of companion planting and medicinal herb and flower cultivation can be seen alongside an array of kitchen garden staples. Biodiversity is encouraged with a bee hotel, water stations for insects, and natural habitat for snakes and lizards."
/>

<HeadingThree 
heading="The garden..."
/>

<Paragraph 
text="In the garden much of the magic happens. Here the focus is on growing seasonal vegetables in as sustainable manner as possible using no-till methods and harvesting rainwater to keep irrigation to a minimum. There are three garden/orchard spaces, planted with a variety of local and other trees which give cover to birds and wildlife as well as providing shade for the flowers, herbs, and plants that grow beneath them."
/>
</div>
<div class="wrapper--large">
<FullScreenImage 
img={{
    src:'/images/garden.webp',
    alt:'Paphos Green Goddess is holding two chicken in her arms'
}}
/>
</div>
<div class="wrapper">
<HeadingThree 
heading="The field..."
/>

<Paragraph 
text="The field is our commercial production area with a range of perennial trees and vines that we harvest throughout the year. The New Year sees the start of the avocado harvest, and spring heralds a burst of activities as the different varieties of wine grapes begin to sprout. The grapes are picked and the wine is made during July and August — sometimes even into September, thus overlapping with the mango season, which runs from mid-August into October. The year closes with the olives: first the table olives which ripen at the end of October. The last weekend in November sees the harvest of the olives for oil. They are cold-pressed in a local mill, and the extra virgin oil is stored in stainless steel tanks for use throughout the year."
/>
</div>
<div class="wrapper--large">
<FullScreenImage 
img={{
    src:'/images/the-field.webp',
    alt:'The permaculture field of Paphos Green Goddess'
}}
/>
</div>
<div class="wrapper">
<HeadingTwo 
heading="The Goddess..."
/>
</div>
<div class="wrapper--large">
<FullScreenImage
img={{
    src:'/images/rachael-with-chicken.webp',
    alt:'Paphos Green Goddess is holding two chicken in her arms'
}}
/>
</div>
<div class="wrapper">
<Paragraph 
text="Learning — and teaching — resilience gives me hope in this fast-changing world. Through connecting to the land and the plants and animals that depend on it as we do, I find strength and can help others do the same."
/>
</div>
</div>
<Newsletter/>
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://www.paphosgreengoddess.com/about/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://www.paphosgreengoddess.com/about/"
/>
</MainLayout>