---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import Newsletter from "../components/Newsletter.astro";
import Section from "../components/Section.astro";
import CalendarComp from "../components/Calendar.tsx";
---

<MainLayout title="Calendar" description="">
    <Section heading="See our program">
        <CalendarComp client:load />
    </Section>

    <Newsletter />
    <Footer
        facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/calender/"
        linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/calendar/"
    />

</MainLayout>
