---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import Newsletter from "../components/Newsletter.astro";
import Section from "../components/Section.astro";
import CalendarComp from "../components/Calendar.tsx";
---

<MainLayout title="Calendar" description="">
    <style is:inline>
        /* Styles for <CalendarComponent /> */
        .calendar__container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .calendar {
            background-color: var(--main-color);
            padding: 2em;
            width: 900px;
            max-width: 95%;
            color: #fff;
            border-radius: 10px;
        }

        .month {
            display: flex;
            gap: 3rem;
            align-items: center;
            justify-content: space-between;
            text-align: center;
        }

        .weekdays {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            padding: 2em;
            justify-items: center;
            align-items: center;
        }

        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 1rem;
            padding: 2em;
            align-items: start;
            justify-items: center;
            text-align: center;
            transition: 2s;
        }

        .days div {
            transition: 0.7s;
            padding: 16px 18px;
            color: #fff;
            border-radius: var(--border-radius);
            font-size: var(--fs-400);
        }

        .event {
            font-size: var(--fs-xxs) !important;
        }

        .event-link {
            color: #fff;
        }

        .other-month {
            opacity: 0.5;
        }

        .today {
            background-color: var(--second-color);
        }

        .days div:hover:not(.today) {
            background-color: var(--hover-color);
            cursor: pointer;
        }

        .prev:hover,
        .next:hover {
            cursor: pointer;
        }
    </style>
    <Section heading="See our program">
        <CalendarComp client:load />
    </Section>

    <Newsletter />
    <Footer
        facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/calender/"
        linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/calendar/"
    />

</MainLayout>
