---
import MainLayout from "../layouts/MainLayout.astro";
import Spacer from "../components/Spacer.astro";
import ContactForm from "../components/ContactForm.astro";
---

<MainLayout
title="Contact us"
description="You can contact us via email.">


<ContactForm
heading="Reach out. We are happy to hear from you."
text="We keep it simple and personal. Send us an <a href='#' class='link'>email</a> or use the form if you have any questions, feedback or anything you want to share with us."
/>

<Spacer />


</MainLayout>