---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Spacer from "../components/Spacer.astro";
import Section from "../components/Section.astro";
import Benefits from "../components/Benefits.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout
title="Experiences at Paphos Green Goddess"
description="You want to learn how to make wine or help harvesting olives while you are in Cyprus. You can do both at Paphos Green Goddess. Contact us."
opengraph={{
	title:'Experiences at Paphos Green Goddess',
	url:'https://www.paphosgreengoddes.com/experiences/',
	image:'https://www.paphosgreengoddes.com/images/heroshot-experiences.webp',
	type:'website',
	description:'Help harvesting olives and making wine.',
	locale:'en'
}}
>


<HeroShot 
img={{
	src:'/images/heroshot-experiences.webp',
	alt:'Olive branch and blue sky'
}}
waveImg={{
	src:'/images/wave.svg',
	alt:'A wave as overlay for the background image'
}}
heading="Experience permaculture hands-on"
text="We offer experiences with wine making and the olive harvest during the appropriate seasons. Please contact us for all details relating to experiences as times and dates are often set the week prior."
cta={{
	href:'/contact',
	text:'Contact us'
}}
/>
<Spacer />
<div class="bg-white">
	<Section
	heading="Experience agriculture in Cyprus"
	>
	<div class="grid  grid-3fr">
		<Benefits 
		iconLeft={{
			src:'/images/grapes.svg',
			alt:'Grapes icon',
			width:'50'
		}}
		headingLeft="Wine making"
		textLeft="Grape picking and winemaking take place three or four times during the summer and involve and early start to bring in the grapes."
	
		iconRight={{
			src:'/images/olives.svg',
			alt:'Olives icon',
			width:'70'
		}}
		headingRight="Olive oil"
		textRight="The olives are harvested in late November, usually on the last weekend of the month, and are taken to a local certified organic mill the same afternoon."
	
		iconMid={{
			src:'/images/chicken.svg',
			alt:'Chicken icon',
			width:'70'
		}}
		headingMid="Explore rural lifestyle"
		textMid="Lorem ipsum"
	
		imgMid={{
			src:'/images/grapes.webp',
			alt:'Grapes'
		}}
	
		imgLeft={{
			src:'/images/olives.webp',
			alt:'Olives hanging on a tree'
		}}
	
		imgRight={{
			src:'/images/rural.webp',
			alt:'The field of Paphos Green Goddess'
		}}
		/>
	</div>
	</Section>
	</div>
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/experiences/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/experiences/"
/>
</MainLayout>
