---
import MainLayout from "../layouts/MainLayout.astro";
import Spacer from "../components/Spacer.astro";
import Map from "../components/Map.astro";
import Footer from "../components/Footer.astro";
import Newsletter from "../components/Newsletter.astro";
---

<MainLayout
title="Impressum"
description="Here you find where we are located and how you can contact us."
opengraph={{
	title:'Impressum',
	url:'https://www.paphosgreengoddes.com/impressum/',
	image:'https://www.paphosgreengoddes.com/images/heroshot-index.webp',
	type:'website',
	description:'See where we are located',
	locale:'en'
}}
>

<div class="grid  grid-2fr">
    <Map 
    heading="Impressum"
    text="Rachael Pettus <br> Wayward House <br> Lapithou 8 <br> Nikoklia <br> 8505 Cyprus <br> +357 99 414098"
    />
</div>
<Spacer />
<Newsletter/>
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/impressum/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/impressum/"
/>
</MainLayout>