---
import MainLayout from "../layouts/MainLayout.astro";
import Spacer from "../components/Spacer.astro";
import Map from "../components/Map.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout
title="impressum"
description="Here you find where we are located and how you can contact us.">
<div class="grid  grid-2fr">
    <Map 
    heading="Impressum"
    text="Wayward House <br> Lapithou 8 <br> Nikoklia <br> 8505 Cyprus <br> +357 99 414098"
    />
</div>
<Spacer />
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/impressum/"
	instagram="https://twitter.com/share?url=https://paphosgreengoddess.com/impressum/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/impressum/"
/>
</MainLayout>