---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Benefits from "../components/Benefits.astro";
import Section from "../components/Section.astro";
import Spacer from "../components/Spacer.astro";
import Button from "../components/Button.astro";
import BlogCard from "../components/BlogCard.astro";
import Paragraph from "../components/Paragraph.astro";
import Footer from "../components/Footer.astro";
import { useSanityClient } from "astro-sanity";
import TextOnBackground from "../components/TextOnBackground.astro";
import FullScreenImage from "../components/FullScreenImage.astro"
import BackgroundColorText from "../components/BackgroundColorText.astro";
import Quote from "../components/Quote.astro";
import Testimonials from "../components/Testimonials.astro";

// Fetch the posts order by date and pick latest 3 and expand all references to category
const posts = await useSanityClient().fetch(`*[_type == "post"][0..3]{
    ...,
    categories[]->,
    mainImage {
        asset->{
            _id,
            url
        },
        altTag
    }
} | order(publishedAt desc)`);

---

<MainLayout
title="Paphos Green Goddess"
description="There is no planet B. Thats why we show you how to integrate sustainable actions in your daily life and how to grow a permaculture garden."
opengraph={{
	title:'Paphos Green Goddess',
	url:'https://www.paphosgreengoddes.com/',
	image:'https://www.paphosgreengoddes.com/images/heroshot-index.webp',
	type:'website',
	description:'There is no planet B. Learn about permaculture.',
	locale:'en'
}}
>


<HeroShot 
img={{
	src:'/images/heroshot-index.webp',
	alt:'The founder of Paphos Green Goddess walking towards the permaculture field'
}}
waveImg={{
	src:'/images/wave.svg',
	alt:'A wave as overlay for the background image'
}}
heading="Experience permaculture in Cyprus..."
text="Paphos Green Goddess is a permaculture family home that is feeling its way toward a more sustainable, resilient, and restorative lifestyle. We want to share the lessons we have learned and the insights we have gained."
cta={{
	href:'/workshops',
	text:'See our workshops'
}}
/>
<Spacer />

<BackgroundColorText 
backgroundImageClass="background-image-first"
/>

<Section>
<Quote 
text="We must learn to live within the limits of nature and the Earth; and restorative agriculture can provide for all — the model of the small, diverse family farm out performs Big Ag’s monocultures every time."
/>
</Section>

<div class="bg-white">
<Section
heading="Workshops that inspire..."
>
<div class="grid  grid-3fr">
	<Benefits 
	iconLeft={{
		src:'/images/hands-on.svg',
		alt:'Hands-on displayed as a spade',
		width:'50'
	}}
	headingLeft="Hands-on"
	textLeft="In our workshops you use your hands because this is how you will learn and remember."

	iconRight={{
		src:'/images/info.svg',
		alt:'Info icon',
		width:'14'
	}}
	headingRight="Informative"
	textRight="You will gain practical knowledge and first-hand experiences."

	iconMid={{
		src:'/images/party-hat.svg',
		alt:'Party hat icon',
		width:'50'
	}}
	headingMid="Fun"
	textMid="We will have fun. We talk, joke around and tell stories. We will eat and drink from what the land has produced."

	imgMid={{
		src:'/images/hands-on.webp',
		alt:'Close up of hands dealing with soil'
	}}

	imgLeft={{
		src:'/images/informative.webp',
		alt:'Paphos Green Goddess owner Rachael is explaining'
	}}

	imgRight={{
		src:'/images/fun.webp',
		alt:'Workshop participant having fun'
	}}
	/>
</div>
<div class="flex-centered">
<Button 
button={{
	text:'See our workshops',
	href:'/workshops'
}}
/>
</div>
</Section>
</div>

<img class="full-screen-img" src="/images/fieldwork.webp" alt="Paphos Green Goddess shows her permaculture garden">

<Section>
<div class="grid  grid-2fr  items-align-center">
	<div>
	<h2>Experience our garden and field on an open day or in a private tour</h2>
	<Paragraph
	text="Discover the design features that are so important to our daily lives. We seek to live more lightly on the Earth — to consume less, to give more. Paphos Green Goddess offers a glimpse of alternative methods of food production and consumption, as well as tips on living with minimal waste: recycling, up-cycling, capturing energy, providing habitat. Why not come and see for yourself?" />
	<Button 
		button={{
			text:'Come and visit',
			href:'/visits'
		}}
	/>
</div>
<div>
	<img src="/images/group-of-people.webp"/>
</div>
</div>
</Section>

<Section>
	<Testimonials 
	imgAuthor={{
		src:'/images/lauren-laurien.webp',
		alt:'Lauren and Laurien'
	}}
	quote="We attended a workshop with Rachael about permaculture and using recycled materials to grow seedlings. We learnt so much from Rachael- she is so knowledgeable and explains everything so clearly. So children and adults can both benefit. We loved exploring her amazing gardens and took so much inspiration from her. Would totally recommend these workshops for anyone interested in permaculture, no matter what age you are!"
	author="Lauren & Laurien"
	subtext="Self Watering Plant Workshop"
	/>
</Section>

<div class="bg-third-color">
	<TextOnBackground 
	heading="A family place"
	text="Paphos Green Goddess is our home. Here we create a place to live close to nature, with natural habitats for insects, snakes, bees and lizards. We focus on agriculture and sustainability. Located just outside the Paphos District village of Nikokleia, the certified organic site includes mature mango, olive, and avocado trees as well as over 1,000 vines for wine production.">
	<Button 
		button={{
			text:'Get to know us',
			href:'/about'
		}}
		buttonAlignClass="button--center"
	/>
	</TextOnBackground>
	
</div>

<FullScreenImage 
img={{
	src:'/images/family-home.webp',
	alt:'The founder of Paphos Green Goddess picking strawberries while children are waiting'
}}
/>

<Section
heading="A blog worth to read"
>
<div class="grid  grid-3fr">
	{posts.length && 
		posts.map((post) => <BlogCard 
			img={{
				src: post.mainImage?.asset.url || '/images/avocado.jpg',
				alt: post.mainImage.altTag || ''
			}}
			date={post.publishedAt ? new Date(post.publishedAt).toLocaleDateString('en-Gb') : ''}
			category={(post.categories || []).map((category) => category.title).join(' ')}
			title={post.title}
			description={post.description}
			link={{
				href: `/blog/${post.slug.current}`,
				text:'Read more'
			}}/>
		)
	}
</div>
<Button 
		button={{
			text:'Browse the blog',
			href:'/blog'
		}}
		buttonAlignClass="button--center"
	/>
</Section>
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/"
/>
</MainLayout>
