---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Benefits from "../components/Benefits.astro";
import Section from "../components/Section.astro";
import Spacer from "../components/Spacer.astro";
import Button from "../components/Button.astro";
import ImgText from "../components/ImgText.astro";
import BlogCard from "../components/BlogCard.astro";
import Paragraph from "../components/Paragraph.astro";
---

<MainLayout
title="Paphos Green Goddess"
description="Where you learn how to ...XXX"
>


<HeroShot 
img={{
	src:'/images/heroshot-index.jpg',
	alt:'The founder of Paphos Green Goddess walking towards the permaculture field'
}}
waveImg={{
	src:'/images/wave.svg',
	alt:'A wave as overlay for the background image'
}}
heading="Learn about permaculture in Cyprus"
text="At Paphos Green Goddess we offer workshops and tours to spread the practice of permaculture."
cta={{
	href:'#',
	text:'Register for a workshop'
}}
/>
<Spacer />
<div class="bg-white  padding-colored-bg">
<Section
heading="Workshops that blow your mind"
>
<div class="grid  grid-3fr">
	<Benefits 
	iconLeft={{
		src:'/images/hands-on.svg',
		alt:'Hands-on displayed as a spade',
		width:'50'
	}}
	headingLeft="Hands-on"
	textLeft="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."

	iconRight={{
		src:'/images/info.svg',
		alt:'Info icon',
		width:'14'
	}}
	headingRight="Informative"
	textRight="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."

	iconMid={{
		src:'/images/party-hat.svg',
		alt:'Party hat icon',
		width:'50'
	}}
	headingMid="Fun"
	textMid="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."

	imgMid={{
		src:'/images/hands-on.jpg',
		alt:'Close up of hands dealing with soil'
	}}

	imgLeft={{
		src:'/images/informative.jpg',
		alt:'Paphos Green Goddess owner Rachael is explaining'
	}}

	imgRight={{
		src:'/images/fun.jpg',
		alt:'Workshop participant having fun'
	}}
	/>
</div>
<Button 
button={{
	text:'See our workshops',
	ahref:'/workshops'
}}
/>
</Section>
</div>

<div class="bg-third-color">
<Section>
<div class="grid  grid-2fr">
	<div>
	<h2>Join our tours at open day or in a private tour</h2>
	<Paragraph
	text="Discover our design features that are so important to our daily lives. You are seeking a way to live more lightly on the Earth — to consume less, to give more. Paphos Green Goddess offers a glimpse at alternative methods of food production and consumption, as well as tips on living with minimal waste: recycling, up-cycling, capturing energy, providing habitat. Why not come and see for yourself?" />
	<Button 
		button={{
			text:'Come and visit',
			ahref:'/visits'
		}}
	/>
</div>
<div>
	<img src="/images/group-of-people.webp"/>
</div>
</div>

</Section>
</div>

<ImgText 
img={{
	src:'/images/family.jpg',
	alt:'The founder of Paphos Green Goddess walking towards the permaculture field'
}}
waveImg={{
	src:'/images/bg-circle.svg',
	alt:'A wave as overlay for the background image'
}}
heading="A family-owned place"
text="Paphos Green Goddess is our home where we create a place for us to live close with nature and natural habitats for insects, snakes, bees and lizards. We focus on agriculture and sustainability. Located just outside the Paphos District village of Nikokleia, the certified organic site includes mature mango, olive, and avocado trees as well as over 1,000 vines for wine production."
cta={{
	href:'#',
	text:'Get to know us'
}}
/>

<Section
heading="A blog worth to read"
>
<div class="grid  grid-3fr">
	<BlogCard 
	img={{
		src:'/images/avocado.jpg',
		alt:'Avocado hanging at the tree'
	}}
	date="01.03.2023"
	category='Lorem Ipsum'
	title="Lorem Ipsum lorem ispum lorem ipsum"
	description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
	link={{
		href:'#',
		text:'Read more'
	}}
	/>

	<BlogCard 
	img={{
		src:'/images/avocado.jpg',
		alt:'Avocado hanging at the tree'
	}}
	date="xx.xx.xx"
	category='Lorem Ipsum'
	title="Lorem Ipsum lorem ispum lorem ipsum"
	description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
	link={{
		href:'#',
		text:'Read more'
	}}
	/>

	<BlogCard 
	img={{
		src:'/images/avocado.jpg',
		alt:'Avocado hanging at the tree'
	}}
	date="xx.xx.xx"
	category='Lorem Ipsum'
	title="Lorem Ipsum lorem ispum lorem ipsum"
	description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
	link={{
		href:'#',
		text:'Read more'
	}}
	/>
</div>
<Button 
		button={{
			text:'Browse the blog',
			ahref:'/blog'
		}}
	/>
</Section>

</MainLayout>
