---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Benefits from "../components/Benefits.astro";
import Section from "../components/Section.astro";
import Spacer from "../components/Spacer.astro";
import Button from "../components/Button.astro";
import ImgText from "../components/ImgText.astro";
import BlogCard from "../components/BlogCard.astro";
import Paragraph from "../components/Paragraph.astro";
import Footer from "../components/Footer.astro";
import { useSanityClient } from "astro-sanity";

// Fetch the posts order by date and pick latest 3 and expand all references to category
const posts = await useSanityClient().fetch(`*[_type == "post"][0..3]{
    ...,
    categories[]->,
    mainImage {
        asset->{
            _id,
            url
        },
        altTag
    }
} | order(publishedAt desc)`);

---

<MainLayout
title="Paphos Green Goddess"
description="Where you learn how to ...XXX"
opengraph={{
	title:'',
	url:'',
	image:'',
	type:'website',
	description:'',
	locale:'en'
}}
>


<HeroShot 
img={{
	src:'/images/heroshot-index.jpg',
	alt:'The founder of Paphos Green Goddess walking towards the permaculture field'
}}
waveImg={{
	src:'/images/wave.svg',
	alt:'A wave as overlay for the background image'
}}
heading="Learn about permaculture in Cyprus"
text="Paphos Green Goddess offers free open days in the year, workshops covering many themes relating to sustainability and resilience in the kitchen and the garden, as well as private tours of the design features."
cta={{
	href:'#',
	text:'Register for a workshop'
}}
/>
<Spacer />
<div class="bg-white  padding-colored-bg">
<Section
heading="Workshops that blow your mind"
>
<div class="grid  grid-3fr">
	<Benefits 
	iconLeft={{
		src:'/images/hands-on.svg',
		alt:'Hands-on displayed as a spade',
		width:'50'
	}}
	headingLeft="Hands-on"
	textLeft="In our workshops you will use your hands because this is how you will learn and remember the easiest."

	iconRight={{
		src:'/images/info.svg',
		alt:'Info icon',
		width:'14'
	}}
	headingRight="Informative"
	textRight="You will get practical knowledge and first-hand experiences."

	iconMid={{
		src:'/images/party-hat.svg',
		alt:'Party hat icon',
		width:'50'
	}}
	headingMid="Fun"
	textMid="Yes, we have fun together. We talk and joke around. Our aim is to make your day with us joyful."

	imgMid={{
		src:'/images/hands-on.jpg',
		alt:'Close up of hands dealing with soil'
	}}

	imgLeft={{
		src:'/images/informative.jpg',
		alt:'Paphos Green Goddess owner Rachael is explaining'
	}}

	imgRight={{
		src:'/images/fun.jpg',
		alt:'Workshop participant having fun'
	}}
	/>
</div>
<Button 
button={{
	text:'See our workshops',
	ahref:'/workshops'
}}
/>
</Section>
</div>

<div class="bg-third-color">
<Section>
<div class="grid  grid-2fr">
	<div>
	<h2>Join our tours at open day or in a private tour</h2>
	<Paragraph
	text="Discover our design features that are so important to our daily lives. You are seeking a way to live more lightly on the Earth — to consume less, to give more. Paphos Green Goddess offers a glimpse at alternative methods of food production and consumption, as well as tips on living with minimal waste: recycling, up-cycling, capturing energy, providing habitat. Why not come and see for yourself?" />
	<Button 
		button={{
			text:'Come and visit',
			ahref:'/visits'
		}}
	/>
</div>
<div>
	<img src="/images/group-of-people.webp"/>
</div>
</div>

</Section>
</div>

<ImgText 
img={{
	src:'/images/family.jpg',
	alt:'The founder of Paphos Green Goddess walking towards the permaculture field'
}}
waveImg={{
	src:'/images/bg-circle.svg',
	alt:'A wave as overlay for the background image'
}}
heading="A family-owned place"
text="Paphos Green Goddess is our home where we create a place for us to live close with nature and natural habitats for insects, snakes, bees and lizards. We focus on agriculture and sustainability. Located just outside the Paphos District village of Nikokleia, the certified organic site includes mature mango, olive, and avocado trees as well as over 1,000 vines for wine production."
cta={{
	href:'#',
	text:'Get to know us'
}}
/>

<Section
heading="A blog worth to read"
>
<div class="grid  grid-3fr">
	{posts.length && 
		posts.map((post) => <BlogCard 
			img={{
				src: post.mainImage?.asset.url || '/images/avocado.jpg',
				alt: post.mainImage.altTag || ''
			}}
			date={post.publishedAt ? new Date(post.publishedAt).toLocaleDateString('en-Gb') : ''}
			category={(post.categories || []).map((category) => category.title).join(' ')}
			title={post.title}
			description={post.description}
			link={{
				href: `/blog/${post.slug.current}`,
				text:'Read more'
			}}/>
		)
	}
</div>
<Button 
		button={{
			text:'Browse the blog',
			ahref:'/blog'
		}}
	/>
</Section>
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/"
	instagram="https://twitter.com/share?url=https://paphosgreengoddess.com/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/"
/>
</MainLayout>
