---
import RegistrationForm from "../components/RegistrationForm.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout
title="Registration for Tours"
description="Please send us email to register for tours or workshops."
opengraph={{
	title:'Registration for Tours',
	url:'https://www.paphosgreengoddes.com/registration-for-tours/',
	image:'https://www.paphosgreengoddes.com/images/tour.webp',
	type:'website',
	description:'Register for a tour at Paphos Green Goddess',
	locale:'en'
}}
>
<RegistrationForm 
heading="Please register here for a tour"
text="We are happy to have you as our guest. Send us an <a href='#' class='link'>email</a> or use the form to register. You will pay on the spot."
option="Tours"
option1="Spring Tour"
option2="Summer Tour"
option3="Autumn Tour"
option4="Winter Tour"
/>
</MainLayout>