---
import RegistrationForm from "../components/RegistrationForm.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout
title="Registration"
description="Please send us email to register for tours or workshops."
>
<RegistrationForm 
heading="Please register here for a workshop"
text="We are happy to have you as our guest. Send us an <a href='#' class='link'>email</a> or use the form to register. You will pay on the spot."
option="Workshops"
option1="When life gives you lemon"
option2="The Edible Outdoors"
option3="Carob — Black Gold of Cyprus"
option4="Bee Hotel Making"
option5="Self Watering Plant-pots"
option6="Garden Design"
/>
</MainLayout>