---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Benefits from "../components/Benefits.astro";
import Section from "../components/Section.astro";
import Spacer from "../components/Spacer.astro";
import Button from "../components/Button.astro";
import ProductCard from "../components/ProductCard.astro";
import Footer from "../components/Footer.astro";
import FullScreenImage from "../components/FullScreenImage.astro";
import Newsletter from "../components/Newsletter.astro";
---

<MainLayout
title="Visits at Paphos Green Goddess"
description="You want to see a permaculture garden and field in Cyprus. Paphos Green Goddess offers free and private tours."
opengraph={{
	title:'Visits at Paphos Green Goddess',
	url:'https://www.paphosgreengoddes.com/visits/',
	image:'https://www.paphosgreengoddes.com/images/heroshot-tours.webp',
	type:'website',
	description:'See permaculture design: Visit Paphos Green Goddess.',
	locale:'en'
}}
>


<HeroShot 
img={{
	src:'/images/heroshot-tours.webp',
	alt:'The founder of Paphos Green Goddess explaining the field'
}}
waveImg={{
	src:'/images/wave.svg',
	alt:'A wave as overlay for the background image'
}}
heading="Get to know our place and methods..."
text="Our tours and open days will show you how we work. Next open day: <strong>24.09.2023</strong>"
cta={{
	href:'/registration-for-tours',
	text:'Register for the next tour'
}}
/>
<Spacer />
<div class="bg-white">
<Section
heading="We make your visit special..."
>
<div class="grid  grid-3fr">
	<Benefits 
	iconLeft={{
		src:'/images/person.svg',
		alt:'Hands-on displayed as a spade',
		width:'50'
	}}
	headingLeft="Personal"
	textLeft="Paphos Green Goddess is a multi-faceted adventure: landscaping, wine making, composting, and animal husbandry are all part of our daily life. You can ask questions relating to all the systems on site from rainwater collection to design, composting, vermiculture and poultry care."

	iconRight={{
		src:'/images/group.svg',
		alt:'Info icon',
		width:'70'
	}}
	headingRight="Family friendly"
	textRight="Children enjoy the chance to interact with animals including dogs, cats, chickens, worms, and a donkey, and to climb the sturdier trees in the orchard. Outside the classroom is the best way to learn."

	iconMid={{
		src:'/images/forms.svg',
		alt:'Party hat icon',
		width:'50'
	}}
	headingMid="Multi-talented"
	textMid="Our open days attract other local natural practitioners: foragers and wild-crafters, specialists in essential oils, gardeners, and physiotherapists often take part, leading talks and mini-workshops, and helping to make the event a multi-faceted introduction to sustainable practices in the Paphos area."

	imgMid={{
		src:'/images/rachael-in-the-field.webp',
		alt:'Paphos Green Goddess explaining the field'
	}}

	imgLeft={{
		src:'/images/family-in-the-field.webp',
		alt:'Paphos Green Goddess owner Rachael is explaining'
	}}

	imgRight={{
		src:'/images/woman-talks.webp',
		alt:'Expert is explaining'
	}}
	/>
</div>
</Section>
</div>

<FullScreenImage 
img={{
	src:"/images/tour.webp",
	alt:"Visitors get to see the worms"
}}
/>

<Section
heading="How to visit..."
>
<div class="grid  grid-3fr">
	<ProductCard 
	heading="Private tours"
	description="25 € per Person, under 10 are free"
	listItems={[
		"More depth. Less hectic atmosphere.",
		"Tours are organised twice a month during the spring and autumn, and in the summer and winter as the weather allows.",
		"Tours include a light three-course vegetarian meal on the verandah overlooking the valley and the sea. Vegan and gluten-free menus are possible with advanced notice. PLEASE ADVICE ON ANY ALLERGENTS.",
		"Maximum of 12 adults.", 
		"Private tours allow participants to engage more closely."
	]}
	backgroundColorClass="first-color"
	/>

	<ProductCard 
	heading="Open day"
	description="Free"
	listItems={[
		"Open days are held on the Sunday closest to the equinoxes and solstices: March 21st, June 21st, September 21, and December 21.",
		"The mid-summer Open Day is a morning event.",
		"The event spans midday, typically lasting from 10 until 2, with participants welcomed throughout the four hours. Because of the heat, the mid-summer open day is a morning event, running from 9 until 1.",
		"Snacks and drinks are free.",
		"Paphos Green Goddess products are available to buy."
	]}
	backgroundColorClass="second-color"
	/>

	<ProductCard 
	heading="Workshop"
	description="30 € per Person, family and group discounts"
	listItems={[
		"Workshops include all material, instructions, snacks and drinks.",
		"At least two workshops are held twice every months. One workshop on a Sunday repeated the following Tuesday morning to accomondate the schedules of parents with children at school.",
		"Workshops usually last two to three hours.",
		"You have the chance to buy Paphos Green Goddess products.",
		"Choose your <a href='/workshops' class='link'>workshop</a> now"
	]}
	backgroundColorClass="third-color"
	/>
</div>
<Button 
button={{
	text:'Book a visit',
	href:'/registration-for-tours'
}}
buttonAlignClass="button--center"
/>
</Section>
<Newsletter/>
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/visits/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/visits/"
/>
</MainLayout>
