---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Benefits from "../components/Benefits.astro";
import Section from "../components/Section.astro";
import Spacer from "../components/Spacer.astro";
import Button from "../components/Button.astro";
import ProductCard from "../components/ProductCard.astro";
import Footer from "../components/Footer.astro";
import FullScreenImage from "../components/FullScreenImage.astro";
---

<MainLayout
title="Visits at Paphos Green Goddess"
description="You want to see a permaculture garden and field in Cyprus. Paphos Green Goddess offers free and private tours."
opengraph={{
	title:'Visits at Paphos Green Goddess',
	url:'https://www.paphosgreengoddes.com/visits/',
	image:'https://www.paphosgreengoddes.com/images/heroshot-tours.webp',
	type:'website',
	description:'See permaculture design: Visit Paphos Green Goddess.',
	locale:'en'
}}
>


<HeroShot 
img={{
	src:'/images/heroshot-tours.webp',
	alt:'The founder of Paphos Green Goddess explaining the field'
}}
waveImg={{
	src:'/images/wave.svg',
	alt:'A wave as overlay for the background image'
}}
heading="Get to know our place and methods"
text="On our tours and open days you will see how we have set everything up."
cta={{
	href:'/registration-for-tours',
	text:'Register for the next tour'
}}
/>
<Spacer />
<div class="bg-white">
<Section
heading="This is how we make your visit special"
>
<div class="grid  grid-3fr">
	<Benefits 
	iconLeft={{
		src:'/images/person.svg',
		alt:'Hands-on displayed as a spade',
		width:'50'
	}}
	headingLeft="Personal"
	textLeft="Paphos Green Goddess herself guides you. You have the opportunity to ask questions relating to the systems on the site from rainwater collection to site planning, composting, vermiculture, and poultry care."

	iconRight={{
		src:'/images/group.svg',
		alt:'Info icon',
		width:'70'
	}}
	headingRight="Family friendly"
	textRight="Children enjoy the chance to interact with animals including dogs, cats, chickens, worms, and a donkey, and to climb on the sturdier trees in the orchard."

	iconMid={{
		src:'/images/forms.svg',
		alt:'Party hat icon',
		width:'50'
	}}
	headingMid="Multi-faceted"
	textMid="Other local natural practitioners including foragers and wild-crafters, specialists in essential oils, gardeners, and physiotherapists often take part, leading talks and mini-workshops, and helping to make the event a multi-faceted introduction to sustainable practices in the Paphos area."

	imgMid={{
		src:'/images/rachael-in-the-field.webp',
		alt:'Paphos Green Goddess explaining the field'
	}}

	imgLeft={{
		src:'/images/family-in-the-field.webp',
		alt:'Paphos Green Goddess owner Rachael is explaining'
	}}

	imgRight={{
		src:'/images/woman-talks.webp',
		alt:'Expert is explaining'
	}}
	/>
</div>
</Section>
</div>

<FullScreenImage 
img={{
	src:"/images/tour.webp",
	alt:"Visitors get to see the worms"
}}
/>

<Section
heading="You have got two options to visit Paphos Green Goddess"
>
<div class="grid  grid-2fr">
	<ProductCard 
	heading="Private tours"
	description="30 € per Person"
	listItems={[
		"More depth. Less hectic atmosphere.",
		"Tours are organised twice a month during the spring and autumn, and in the summer and winter as the weather allows, we open for private.",
		"Tours include a light three-course vegetarian or vegan meal on the verandah overlooking the valley and the sea.",
		"Maximum of 12 adults can participate.", 
		"Private tours allow participants to engage much more closely with the environment and the systems in place."
	]}
	backgroundColorClass="first-color"
	/>

	<ProductCard 
	heading="Open day"
	description="For free"
	listItems={[
		"Open days are hold on Sunday closest to the equinoxes and solstices: March 21st, June 21st, September 21, and December 21.",
		"The mid-summer Open Day is a morning event.",
		"The event spans midday, typically lasting from 10 until 2, with participants welcomed throughout the four hours.",
		"Snacks and drinks are free.",
		"You have the chance to buy Green Goddess products."
	]}
	backgroundColorClass="second-color"
	/>
</div>
<Button 
button={{
	text:'Go on a tour with us',
	ahref:'/registration-for-tours'
}}
buttonAlignClass="button--center"
/>
</Section>
<Footer 
	facebook="https://www.facebook.com/sharer/sharer.php?u=https://paphosgreengoddess.com/visits/"
	instagram="https://twitter.com/share?url=https://paphosgreengoddess.com/visits/"
	linkedIn="https://www.linkedin.com/shareArticle?mini=true&url=https://paphosgreengoddess.com/visits/"
/>
</MainLayout>
